form {
  margin-top: 50px;
}

ion-item {
  --background: transparent;
  margin-bottom: 1rem;
}

ion-input,
ion-button {
  width: 100%;
}

.error-message {
  font-size: 0.85rem;
  color: #eb445a;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

ion-button {
  margin: 0 auto;
  margin-top: 30px;
  width: 70vw;
}

.toRegister {
  margin-top: 10px;
  text-align: center;
  color: #2682a0;
  text-decoration-line: underline;
}