.product-image {
  width: 100%;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.options {
  margin: 15px;
}

.actions {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
